html, body {
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.course-card{
  box-shadow: 0 0 6px 1px #dbdbdb;
  transition: all 0.3s;
}
.course-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 0 9px 1px #818181;
  cursor: pointer;
}
p{

  display: flex;
  
}